.img1
{
    position: relative;
}
.img2
{
    position:absolute;
    left:10px;
    top:10px;
    
}
.img3
{
    position: absolute;
    left: 380px;
    top:10px;
}
.img4
{
    position:absolute;
    left: 380px;
    top:380px;
    
}